body{
    padding-top: 100px;
    background-color: #f7f5f5;
    width: 80%;
    margin: auto;
    /* disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.keyboard {
    width: 920px;
    padding: 10px;
    background-color: silver;
}
.simbol, .letter, .command{
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border:1px solid  silver;
    border-radius: 5px;
    background-color: dimgrey;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.simbol:not(.pressed):hover, .letter:not(.pressed):hover, .command:not(.pressed):hover{
    background-color: rgb(245, 135, 116);
}
.command {
    width: 112px;
}
.hidden {
    display: none;
}
.pressed {
    background-color: tomato;
    border: 1px solid rgb(192, 152, 152);
}
span{
    cursor: pointer;
}
textarea{
    width: 935px;
    height: 120px;
    margin: auto;
    font-size: 18px;
    letter-spacing: 1px;
}
#Space{
    width: 660px;
}
#Backspace, #Enter{
    width: 100px;
}
#Shift {
    width: 110px;
}
#Alt, #Control, #Meta{
    width: 70px;
}
#Tab, #CapsLock{
    width: 160px;
}

br{
    background-color: black;
}#lang {
    /* display: block; */
    padding: 0 10px;
    color: dimgrey;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid dimgrey;
    border-radius: 15px;
}
#lang:hover, #lang.hover{
    color: rgb(245, 135, 116);
    border-color: rgb(245, 135, 116);
}